<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="miniAGV">

    <xacro:include filename="$(find four_wheel_steering_robot_description)/urdf/gazebo_control.xacro" />

    <xacro:include filename="$(find four_wheel_steering_robot_description)/urdf/robot_core_design.xacro" />

</robot>