<?xml version="1.0"?>
<launch>

    <param name="robot_description"
        command="$(find xacro)/xacro $(find four_wheel_steering_robot_description)/robots/robot.urdf.xacro" />

    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui"
        type="joint_state_publisher_gui" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find four_wheel_steering_robot_description)/robot.rviz"
        required="true" />
</launch>